
<table class="table table-success table-striped">
              <thead>
                <tr >
                            <th *ngFor="let heade of gelendataHeaders">
                                          -{{heade}}-
                            </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of gelendata">
                            <td *ngFor="let headim of gelendataHeaders">
                                          {{item[headim]}}
                                          </td>
                </tr>
              </tbody>
            </table>