<div class="container">
              <div class="row">
                            <div class="col-md-12">
                                          <ul class="nav nav-tabs my-2 bg-danger rounded-pill">
                                                        <ul class="nav-item " >
                                                                      <a  id="add" class="nav-link active" style="color:rgba(70, 34, 9, 0.973)" (click)="addClick()" >books-add</a>
                                                        </ul>
                                                        <ul class="nav-item"  >
                                                                      <a id="delete" class="nav-link"  style="color:rgb(63, 29, 4)" (click)="deleteClick()" >books-delete</a>
                                                        </ul>
                                          </ul>
                            </div>
              </div>
</div>


<div [hidden]="deleteActive">

              <div class="container pt-100 mt-5 ">

                            <div class="row">
              
              
                                          <div class="col-12">
                                                        <div class="row">
                                                                      <ng-container *ngFor="let p of books">
                                                                                   
                                                                                    <div class="card mb-3 m-2" style="height: 500px;width:195px;">
                                                                                                  <img src="../../../assets/img/{{p.imgUrl}}"
                                                                                                                alt="p.name">
                                                                                                  <div class="card-body">
              
                                                                                                                <h5 class="card-title text-danger">
                                                                                                                        <b>{{p.name}}</b>  
                                                                                                               </h5>
                                                                                                                <h4
                                                                                                                              class="card-title text-secondary">
                                                                                                                              <a>
                                                                                                                                            {{p.authors}}
                                                                                                                              </a>
                                                                                                                </h4>
                                                                                                                <small
                                                                                                                              class="text-muted">
                                                                                                                              <i
                                                                                                                                            class="fas fa-lira-sign"></i>
                                                                                                                              {{p.catagories}}
                                                                                                                </small>
              
                                                                                                  </div>
                                                                                                  <div
                                                                                                                class="card-footer text-center">
                                                                                                                <button   (click)="booksDelete(p.id,p)"
                                                                                                                              class="btn-outline-danger btn-sm m-1">delete</button>
                                                                                                  </div>
                                                                                    </div>
              
                                                                      </ng-container>
              
                                                        </div>
                                          </div>
              
                            </div>
              
              </div>
</div>
<div  [hidden]="addActive">
              <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-6 ml-5 m-3">
                  
                              <form [formGroup]="booksRegisterForm" (ngSubmit)="booksRegisterClick()">
                                <div class="form-group">
                                  <b>Name :</b>
                                  <input formControlName="name"  name="name" type="text" class="form-control" >
                                </div>
                  
                                <div class="form-group">
                                  <b>Outhors :</b>
                                  <input formControlName="outhors" name="outhors" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                          <b>Catagories :</b>
                                          <input formControlName="catagoties" name="catagoties" type="text" class="form-control">
                               </div>

                                <div class="form-group">
                                          <b>imgUrl :</b>
                                          <input formControlName="imgUrl" name="imgUrl" type="text" class="form-control">
                               </div>
                  
                                <button type="submit" class="btn btn-outline-danger btn-lg mt-2">register</button>
                              </form>
                              
                              <div class="alert alert-warning rounded-pill mt-3" *ngIf="(booksRegisterForm.invalid) && (isClickMi) && (control)">
                                <ul>
                                              <li *ngFor="let item of errorS">
                                                            {{item}}
                                              </li>
                                </ul>
                             </div>
                  
                  
                            </div>
                            <div class="col-4">
                                          <div class="alert alert-info rpunded-5" *ngIf="registerSuccses" (click)="changeC()">
                                                        Register succsesfuly
                                          </div>
                            </div>
                          </div>
</div>