<div id="hero">

  <video autoplay loop>

    <div class="container">
      <h1>merhaba</h1>
    </div>
    <source src="../../assets/backround/Thunderstorm.mp4" type="video/mp4">

  </video>
  <div class="content">
    <div class="container">
      <div class="row" style="height:30px;"></div>








      <!--............................................................................................................................-->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs my-2">
              <ul class="nav-item ">
                <a class="nav-link " routerLink="/home" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">Library</a>
              </ul>
              <ul class="nav-item">
                <a class="nav-link" routerLinkActive="active">Books-repository</a>
              </ul>
              <ul class="nav-item">
                <a class="nav-link" routerLinkActive="active">Outhers</a>
              </ul>
              <ul class="nav-item">
                <a class="nav-link" routerLink="librarilogin" routerLinkActive="active">Librarian</a>
              </ul>
            </ul>
          </div>

        </div>
        <div class="row">
          <div class="col-2 " [hidden]="false">
            <div class="list-group my-2">
              <button type="button" class="list-group-item  bg-danger" disabled>books-outhers</button>
                              <div class="list-group-item list-group-item-action bg-warning rounded-pill"
                                *ngFor="let item of outhers">
                                <h5>
                                  <div style="height: 30px;width: 30px;" class="rounded-pill">
                                    <img style="height: 40px;width: 40px;" class="rounded-pill"
                                      src="../../../assets/outher-img/{{item.imgUrl}}" alt="p.name">
                                  </div> <a  [routerLink]="['outherbooks',item.name]"> {{item.name}}</a>
                                </h5>
                              </div>
              <button routerLink='booksall' type="button" class="list-group-item  bg-danger">All books</button>
            </div>
          </div>
          <div class="col-10 " style="overflow:scroll;height:610px;">
            <router-outlet ></router-outlet>
          </div>
        </div>
      </div>


      <!--............................................................................................................................-->




    </div>
  </div>
</div>